.about__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--maxWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px var(--big-containerPadding);
    background-color: var(--main-black);
}

.about__devs {
    grid-template-columns: repeat(4, 0fr);
    display: grid;
}

.about__title {
    z-index: 999;
    color: var(--main-white);
    font-size: var(--large);
    margin-bottom: -25px;
}

.about__block {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--block-black);
}

@media (max-width: 900px) {
    .about__devs {
        align-items: center;
        grid-template-columns: repeat(2, 0fr);
        padding-left: 50px;
        padding-right: 50px;
    }
}


