.movie_info__section {
    background-color: var(--main-black);
    padding: 20px;
    border: 1px solid var(--main-white);
    border-radius: 5px;
    color: var(--main-white);
}

.movie_info__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--containerPadding);
    padding-right: var(--containerPadding);
    max-width: var(--maxWidth);
}

.movie_info__section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie_info__section p {
    font-size: 16px;
    margin-bottom: 5px;
}