.movie_info__container {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--maxWidth);
    display: flex;
    flex-direction: column;
    padding: 40px var(--big-containerPadding);
    background-color: var(--main-black);
}

.movie_name {
    text-align: center;
    z-index: 999;
    color: var(--main-white);
    font-size: var(--large);
    margin-bottom: -25px;
}

p {
    padding: 10px;
}

.movie_description {
    font-size: var(--small_2);
}

.movie_info__block {
    background-color: var(--block-black);

    padding-bottom: 10px;
}

.movie_info__section h2 {
    color: var(--main-white);
    font-size: var(--medium);
    margin-bottom: 10px;
}

.movie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.movie_text {
    padding-top: 30px;
    padding-left: 0;
    color: #777777;
    text-align: center;
}

.main_info {
    max-width: 1200px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: var(--containerPadding);
    padding-right: var(--containerPadding);
    margin-bottom: 15px;
    align-items: center;
}

.main_info img {
    width: 250px;
    transition-duration: .3s;
}

.main_info img:hover {
  scale: 1.02;
}

.main_info_text {
    align-items: center;
    padding: 15px;
    color: #777777;
    max-width: 450px;
    padding-left: 30px;
}

.main_info_text p {
    padding: 3px;
}

.movie_text p {
    padding: 2px;
}

.movie_info__section p {
    font-size: var(--small_2);
    margin-bottom: 5px;
}

.movie__img {
    margin-top: -30px;
}

.movie_button {
    font-size: var(--small);
    padding: 5px 20px;
}

.main_text {
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .main_info {
        flex-direction: column;
        align-items: center;
        padding-left: var(--containerPadding);
        padding-right: var(--containerPadding);
        margin-bottom: 15px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .movie__img {
        height: 0;
        width: 0;
    }
    .movie_name {
        text-align: center;
        z-index: 999;
        color: var(--main-white);
        font-size: var(--large);
        margin-bottom: -15px;
    }
}