.section {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}

.section__title {
    color: #f2f2f2;
    font-size: 24px;
    margin-bottom: 10px;
}

.section__content {
    color: #666;
    font-size: 16px;
}

.section__button {
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}