.section__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--containerPadding);
    padding-right: var(--containerPadding);
    max-width: var(--maxWidth);
}

.section {
    border: 1px solid var(--main-white);
    border-radius: 5px;
    background-color: var(--main-black);
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
}

.section__title {
    color: var(--main-white);
    font-size: 24px;
    margin-bottom: 10px;
}

.section__img {
    /*float: left;*/
}

.section__content {
    color: #666;
    font-size: 16px;
    padding-bottom: 20px;
}