.slider__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px var(--big-containerPadding);
    background-color: var(--main-black);
}

.slider__title {
    z-index: 999;
    color: var(--main-white);
    font-size: var(--large);
    margin-bottom: -25px;
}

.slider__block {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--block-black);
    padding-left: var(--containerPadding);
}

.slider__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.slider__image {
    height: 500px;
}

.slider__image:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.01);
}

.slider__name {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--main-white);
    font-size: var(--medium);
}

.slider__text {
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    color: var(--second-black);
    font-size: var(--small_2);
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    .slider__image {
        transform: scale(0.4);
    }
}