.trailer__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--maxWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px var(--big-containerPadding);
    background-color: var(--main-black);
}

.trailer__title {
    z-index: 999;
    color: var(--main-white);
    font-size: var(--large);
    margin-bottom: -20px;
}

.trailer__block {
    width: 100%;
    padding-top: 10px;
    background-color: var(--block-black);
    position: relative;
}

.trailer__content {
    width: auto;
    height: auto;
}

.trailer__content {
    width: 70% !important;
}

.trailer__youtube {
    display: flex;
    justify-content: center;
    width: 100% !important;
}


@media (max-width: 600px) {

}