/*global variables*/
.App {
}

:root {
    --main-red: #FF553E;
    --main-yellow: #FEC901;
    --main-blue: #5168F6;
    --main-purple: #A717FF;
    --main-ping: #FE90E9;

    --block-black: #222;
    --main-black: #333;
    --main-white: #f2f2f2;

    --second-black: #666;
}

:root {
    --very-small: 10px;
    --small: 14px;
    --small_2: 18px;
    --medium: 27px;
    --medium_2: 30px;
    --large: 48px;
    --large_2: 84px;
    --maxWidth: 2000px;
    --containerPadding: 50px;

    --big-containerPadding: 100px;

    --header-size: 80px;
    --footer-size: 160px
}

* {
    box-sizing: border-box;
}

/*global classes*/
.d-flex {
    display: flex;
    align-items: center;
}

.low_margin {
    margin: 0;
    padding: 0 0 5px 0;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.d-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a, p, h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
    background-color: var(--main-black);
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
    :root {
        --containerPadding:45px;
        --big-containerPadding: 60px;
    }
    :root {
        --very-small: 10px;
        --small: 14px;
        --small_2: 18px;
        --medium: 27px;
        --medium_2: 30px;
        --large: 38px;
        --large_2: 84px;
    }
}

@media (max-width: 600px) {
    :root {
        --containerPadding: 10px;
        --big-containerPadding: 20px;
    }
    :root {
        --very-small: 10px;
        --small: 14px;
        --small_2: 14px;
        --medium: 16px;
        --medium_2: 18px;
        --large: 26px;
        --large_2: 84px;
    }
}
